body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    background-color: #c9d6ff;
}
    
h1 {
    color: #555;
    margin-top: 20px;
    font-size: 2.5em;
    }
    
form {
    background: rgba(255,255,255,0.06);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px 0;
}
    
label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
    color: #555;
}
    
textarea {
    width: 96%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255,255,255,0.06);
    }
    
    input[type="submit"] {
    background: rgba(255,255,255,0.1);
    color: #555;
    border: none;
    padding: 12px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Times New Roman';
    }
    
    input[type="submit"]:hover {
    background: #0056b3;
    }
    
#result {
    background-color: rgba(255,255,255,0.06);
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px 0;
    }
    
h2 {
    color: #555;
    opacity: .8;
    margin-top: 0;
}
    
pre {
    background-color:rgba(255,255,255,0.06) ;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow-x: auto;
}
